.gridLines {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: var(--container-width);
  max-width: var(--container-max-width);
  height: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  z-index: var(--z-base);
}

.line {
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.03);
}
