.container {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--c-secondary);
  color: var(--c-text-main);
  font-weight: 600;
  overflow: hidden;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initial {
  text-transform: uppercase;
}

.sm {
  font-size: 12px;
}

.md {
  font-size: 14px;
}

.lg {
  font-size: 18px;
}

.name {
  font-family: var(--f-cn-body);
  font-size: 14px;
  color: var(--c-text-main);
}
